$color__red = #FF1A1A
$color__blue = #00C2FF
$color__yellow = #FAFF14
$color__light-grey = #F5F5F5
$color__grey = #E4E4E4
$color__dark-grey = #d8d8d8
$color__black = #000
$color__white = #FFF

$color__red--opacity-high = #FF1A1ACC
$color__blue--opacity-high = #00C2FFCC
$color__yellow--opacity-high = #FAFF14CC

$color__red--opacity-medium = #FF1A1A80
$color__blue--opacity-medium = #00C2FF80
$color__yellow--opacity-medium = #FAFF1480

$color__red--opacity-low = #FF1A1A40
$color__blue--opacity-low = #00C2FF40
$color__yellow--opacity-low = #FAFF1440